[Unit]
Description=Reload systemd daemon after boot

[Service]
Type=oneshot
ExecStart=/bin/systemctl daemon-reload

[Install]
WantedBy=multi-user.target